$soft-red-orange: rgba(255, 69, 0, 0.8);
$red-orange: rgba(255, 69, 0, 0.6);
$purple: rgb(187, 50, 187);
$soft-orange: rgba(255, 165, 0, 0.3);
$hover-orange: rgba(255, 165, 0, 0.6);
$white: rgb(249, 249, 249);
// New Colors

// banner
$black: black;
$dark-golden: rgba(255, 204, 0, 0.3);
$light-golden: rgba(255, 204, 0, 0.6);

// tab-links
$txt-shadow-black: rgba(0, 0, 0, 1);
$dark-orange: rgba(255, 165, 0, 0.3);
$light-orange: rgba(255, 165, 0, 0.6);
$brown: rgb(117, 46, 21);

// gallery
$bg-greyish: rgba(211, 211, 211, 0.85);
