@import "components/index.scss";

body {
  background: linear-gradient(
      rgba(241, 241, 241, 0.8),
      rgba(237, 237, 237, 0.9)
    ),
    url("https://img.freepik.com/vetores-gratis/flamulas-de-slingers-coloridos-coloridos-do-partido-vermelho-azul-amarelo-laranja-rosa-contra-imagem-realista-de-fundo-branco_1284-31977.jpg");
  background-size: 100%;
  background-position: center;
  margin: 0px;
  background-color: #f4f4f4;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
}

.container {
  padding: 0px 150px;
  overflow-x: hidden;
}

h3 {
  text-align: left;
}
