<div class="gallery">
    <div class="big-photo">
      <img src="https://scontent-itm1-1.xx.fbcdn.net/v/t39.30808-6/474679223_585579127690848_6391901306152504282_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=833d8c&_nc_ohc=ZEGqpxkUDJkQ7kNvgEWw7aE&_nc_oc=Adkd-RZbpQDml9-9mA0XVKi-WQ2KHXAcLPdtNl0mFFDikxo1D7t4Wx-Dde0rO33DgTZ7UELNNJ8ECKF7G7dl-M9k&_nc_zt=23&_nc_ht=scontent-itm1-1.xx&_nc_gid=vfas9MTUYnlDuWVstHZ1oA&oh=00_AYEaiVQv5jhvcAF47FC7uYyFO66NvyPaiM6WR1ysM_jhgg&oe=67E9B09E" alt="" class="big-photo">
    </div>
    <div class="gallery-grid ">
      <div class="medium-photo">
        <img src="https://scontent-itm1-1.xx.fbcdn.net/v/t39.30808-6/474661170_585578821024212_7929152468705098599_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=yvC_2AO-hokQ7kNvgHdslQ_&_nc_oc=AdlM6OD4W8sJ8FHqG6kIBpae8q6HW3JItH0UwN6et5r5ZfraJZYMTZe45ZQt0azOysDFDQNyTM9wjjhngDcvjwc1&_nc_zt=23&_nc_ht=scontent-itm1-1.xx&_nc_gid=Muv9Nf8txQ6sK57Jnz55ZA&oh=00_AYGesXQB_4_mvplIT3G_uiImkoRVZIF7yXGzJ_CETZKymA&oe=67E978E0" alt="" class="medium-photo">
      </div>
      <div>
        <img src="https://scontent-itm1-1.xx.fbcdn.net/v/t39.30808-6/474581728_585579201024174_4653850737835916354_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_ohc=-hqDgEnDrDoQ7kNvgHglArk&_nc_oc=AdkJjh8fgfwenRGLMJqmL3abDMk8PtPD5nSlExaDytMbbSfNbZXtgOYUmobhe9uvFJSntrl63uB1Hw7MD4v-J8Bs&_nc_zt=23&_nc_ht=scontent-itm1-1.xx&_nc_gid=-cKD1NOTdeLz9_Tcaem9uQ&oh=00_AYGJNJ9CazaImwDbR36BkSZI0pdsrm8tEsbloEgnq03omQ&oe=67E9C2C1" alt="" class="medium-photo">
      </div>
      <div>
        <div>
          <img src="https://scontent-itm1-1.xx.fbcdn.net/v/t39.30808-6/474631888_585578921024202_6382637312245161485_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=c86gOKIKbrsQ7kNvgGwSkgH&_nc_oc=AdltHnEyv78uB8Bi5mFs32Dvwe4LMJFWtic-rsDMkh62-xrSWOs4iLY2s_MxBO0obKUlQxA6AHOtzZgncQgr8lRL&_nc_zt=23&_nc_ht=scontent-itm1-1.xx&_nc_gid=yiK48wx_ahbO3MI90ZJOLQ&oh=00_AYFF6awxLtOvgc4CizYkBmybzyDED7R4kq91etyT9bEp3g&oe=67E99EEC" alt="" class="photo-bottom">
        </div>
      </div>
    </div>
  </div>