nav {
  padding: 0px 130px;
  font-size: 20px;
  background: linear-gradient(to right, #ff7f00, #c75000);
  border-bottom: 2px solid #a3471d;
}

nav img {
  width: 90px;
  clip-path: circle(33%);
  overflow: hidden;
}

.wrap {
  display: flex;
  align-items: center;
}
