<div class="tab-link">
  <div>
    <%= image_tag "festa.jpg", class: "banner" %>
  </div>
  <div>
    <%= partial "partials/links", locals: { background_type: "ponto de vendas", link_url: "pages/ponto_de_vendas" } %>
    <%= partial "partials/links", locals: { background_type: "prêmios", link_url: "pages/premios" } %>
  </div>
</div>
