<div>
  <%= partial "pages/tab_links" %>
</div>

<div>
  <h3 style="font-size: 24px;">Informações</h3>
  <div>
    <div class="quadro-avisos">
  <h2>Avisos Importantes</h2>
  <ul>
    <li>Não perca a nossa grande Festa Junina! Data: 25 de Junho.</li>
    <li>Venda de ingressos online até o dia 20 de Junho.</li>
    <li>Prêmios incríveis para o bingo! Confira os detalhes no evento.</li>
  </ul>
</div>
  </div>
</div>
  
<div class="gallery-container">
  <h3>Gallery</h3>
  <%= partial "partials/gallery" %>
</div>

