<div>
  <%= partial "pages/tab_links" %>
</div>
<h3>Gallery</h3>
<div class="gallery">
  <div class="big-photo">
    <img src="https://scontent-itm1-1.xx.fbcdn.net/v/t39.30808-6/474631888_585578921024202_6382637312245161485_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=c86gOKIKbrsQ7kNvgGwSkgH&_nc_oc=AdltHnEyv78uB8Bi5mFs32Dvwe4LMJFWtic-rsDMkh62-xrSWOs4iLY2s_MxBO0obKUlQxA6AHOtzZgncQgr8lRL&_nc_zt=23&_nc_ht=scontent-itm1-1.xx&_nc_gid=J0eXGSRB0uqDkSznTQ_cQQ&oh=00_AYGsesznGQENrMA-0U5md8ygpbZ9gfmRxrKji8J3SC1-wQ&oe=67E966AC" alt="" class="big-photo">
  </div>
  <div class="gallery-grid ">
    <div class="medium-photo">
      <img src="https://scontent-itm1-1.xx.fbcdn.net/v/t39.30808-6/474661170_585578821024212_7929152468705098599_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=yvC_2AO-hokQ7kNvgHdslQ_&_nc_oc=AdlM6OD4W8sJ8FHqG6kIBpae8q6HW3JItH0UwN6et5r5ZfraJZYMTZe45ZQt0azOysDFDQNyTM9wjjhngDcvjwc1&_nc_zt=23&_nc_ht=scontent-itm1-1.xx&_nc_gid=Muv9Nf8txQ6sK57Jnz55ZA&oh=00_AYGesXQB_4_mvplIT3G_uiImkoRVZIF7yXGzJ_CETZKymA&oe=67E978E0" alt="" class="medium-photo">
    </div>
    <div>
      <img src="" alt="" class="medium-photo">
    </div>
  </div>
  <div>
    <img src="" alt="" class="photo-bottom">
  </div>
</div>
